body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightgray;
  display:flex;
  flex-direction: column;
  align-items: center;

}
.weatherForm{
  margin-top: 70px;
}
.cityInput{
  padding: 10px 20px;
  font-size:1rem;
  font-weight:bold;
  border:2px solid rgb(249, 230, 230);
  border-radius: 5px;
  margin: 10px;
  width:300px;
}
button[type="submit"]{
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1rem;
  background-color: #5babc9;
  color:white;
  border-radius: 5px;
  border:none;
  cursor:pointer;

}
button[type="submit"]:hover{
  background-color:#28a5d3 ;
}
.card{
  background: linear-gradient(to right, #ffafbd, rgb(31, 179, 237));
  padding: 50px;
  border-radius:5px ;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  min-width:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
  
  margin-top: 0;
  margin-bottom: 25px;

}
p{
  font-size:1.5rem;
  margin: 5px 0;
}
.cityDisplay,tempDisplay{
  font-size: 3.5rem;
  font-weight: bold;
  color:hsla(0,0%,0%,0.75);
  margin-bottom: 25px;
}
.humidityDisplay{
  font-weight: bold;
  margin-bottom: 25px;

}
.descDisplay{
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
}
.weatherEmoji{
  margin: 0;
  font-size: 7.5rem;
  color:yellow;

}
.errorDisplay{
  font-size: 2.5rem;
  font-weight: bold;
  color:hsla(0,0%,0%,0.75);
}
  

